.container-gallerydetailspage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section {
  margin-top: 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem; */
}

.header-section button {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
}

.header-section img {
  margin-top: 1rem;
  border-radius: 5%;
}

.photos-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* change this */
  justify-content: flex-start; /* change this */
  margin-bottom: 2rem;
}

.photos-section h2 {
  margin-bottom: 1rem;
}

.photo-thumbnail {
  margin: 1rem;
}

.upload-section {
  align-items: center;
  justify-content: center;
}
