.container-myProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.container-myProfile NavLink {
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.photo-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
