.container-photodetailspage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 36px;
  margin-bottom: 12px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
}

.photo-container {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.photo-img {
  /* width: 60%;
  height: 70vh; */
  object-fit: cover;
}

.photo-meta-data {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px #ccc;
  width: 40%;
  margin-left: 20px;
  font-size: 18px;
  /* display: flex;
  flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

.add-to-cart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.add-to-cart-button {
  background-color: #0099ff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: #0066cc;
  }
}

button {
  background-color: #ff0000;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #cc0000;
  }
}
