.container-userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: lighter;
}

.photo-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.avatar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
  border: 5px solid #2196f3;
}

.user-meta-data {
  display: flex;
  flex-direction: column;
}

.user-meta-data p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}
